$gap: 1rem;
$sans_serif: Helvetica, Arial, sans-serif;
$serif: Georgia, serif;

$page_hue: 210;
$link_hue: 210;

$fg: hsl($page_hue, 10%, 18%);
$bg: hsl($page_hue, 10%, 95%);

$dark_fg: $bg;
$dark_bg: darken($fg, 4%);

$link: hsl($link_hue, 80%, 55%);
$visited: hsl($link_hue, 45%, 40%);

body {
  font-family: $serif;
  font-size: 1.2em;
  line-height: 1.55;
  color: $fg;
  background-color: $bg;

  max-width: 700px;
  margin: auto;
  padding-left: 1em;
  padding-right: 1em;

  #sun {
    stroke: $fg;
    fill: $bg;
  }
  #moon {
    stroke: mix($fg, $bg, 35%);
    fill: $bg;
    display: inline-block;
    margin-left: 5px;
  }

  &.dark {
    color: $dark_fg;
    background-color: $dark_bg;

    nav hr, footer hr {
      background: linear-gradient(to right, $dark_bg 0, $dark_fg 20%);
    }
    #sun {
      stroke: mix($dark_fg, $dark_bg, 35%);
      fill: $dark_bg;
    }
    #moon {
      stroke: $dark_fg;
      fill: $dark_bg;
    }
  }
}

#color-toggle {
  float: left;
  cursor: pointer;
}
nav hr {
  clear: both;
}

a {
  color: $link;
  &:visited { color: $visited; }

  &.footnote-backref { text-decoration: none; }
  &.footnote-ref { text-decoration: none; }
}

h1, h2, h3, h4, h5 {
  font-family: $sans_serif;
  line-height: 1.3;
}
h1 { font-size: 1.75em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.25em; }
h4 { font-size: 1.15em; }
h5 { font-size: 1em; }

nav, footer, p, h1, h2, hr, ul, ol {
  margin-top: $gap;
  margin-bottom: $gap;
}

nav {
  li { display: inline-block; }
}
nav, footer {
  text-align: right;
  a { text-decoration: none; }
}

h2.date {
  font-size: 1em;
  font-weight: normal;
}

hr {
  border: 0;
  background: black;
  height: 1px;
}
nav hr, footer hr {
  background: linear-gradient(to right, $bg 0, $fg 20%);
}

.footnotes {
  hr { display: none; }

  ol {
    padding-left: 1.1em;

    &::before {
      content: "Notes:";

      font-family: $sans_serif;
      font-size: 1.1em;
      font-weight: bold;

      margin-left: -1em;
    }

    li p {
      margin-top: 0.75rem;
      margin-bottom: 0.75rem;
    }
  }
}

footer hr {
  margin-top: 1em;
}
