$gap: 1rem;
$sans_serif: Helvetica, Arial, sans-serif;
$serif: Georgia, serif;

$page_hue: 300;
$link_hue: 210;

$fg: hsl($page_hue, 10%, 14%);
$bg: hsl($page_hue, 10%, 97%);
$link: hsl($link_hue, 60%, 50%);
$visited: hsl($link_hue, 35%, 40%);

body {
  font-family: $serif;
  font-size: 1.2em;
  line-height: 1.55;
  color: $fg;
  background-color: $bg;

  max-width: 700px;
  margin: auto;
  padding-left: 1em;
  padding-right: 1em;
}

a {
  color: $link;
  &:visited { color: $visited; }

  &.footnote-backref { text-decoration: none; }
  &.footnote-ref { text-decoration: none; }
}

h1, h2, h3, h4, h5 {
  font-family: $sans_serif;
  line-height: 1.3;
}
h1 { font-size: 1.75em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.25em; }
h4 { font-size: 1.15em; }
h5 { font-size: 1em; }

nav, footer, p, h1, h2, hr, ul, ol {
  margin-top: $gap;
  margin-bottom: $gap;
}

nav {
  li { display: inline-block; }
}
nav, footer {
  text-align: right;
  a { text-decoration: none; }
}

h2.date {
  font-size: 1em;
  font-weight: normal;
}

hr {
  border: 0;
  background: black;
  height: 1px;
}
nav hr, footer hr {
  background: linear-gradient(to right, $bg 0, $fg 20%);
}

.footnotes {
  hr { display: none; }

  ol {
    padding-left: 1.1em;

    &::before {
      content: "Notes:";

      font-family: $sans_serif;
      font-size: 1.1em;
      font-weight: bold;

      margin-left: -1em;
    }

    li p {
      margin-top: 0.75rem;
      margin-bottom: 0.75rem;
    }
  }
}

footer hr {
  margin-top: 1em;
}
